<nav class="navbar navbar-dark bg-dark align-items-end">
  <div class=col>
    <div class="row">
        <div class="col-sm-8">
          <div class=row>
            <img src="./assets/images/waveform.png">
            <a class="navbar-brand" href="/">
              <h2>Earthquake incidence over the past day</h2>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row float-right">
            <sidebar-toggler></sidebar-toggler>
          </div>
        </div>
    </div>
  </div>
</nav>
